body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    width: 1920px;
    height: 92px;
}

.conteiner {
    display: flex; 
    align-items: center;
    color: black;
    width: 1920px;
    height: 92px;
}

.nav-link {
    text-decoration: none;
    height: 22px;
    margin-right: 58px;
    font-weight: 400;
    font-size: 16px;
}

.nav-logo {
    height: auto;
    margin-left: 350px;
    font-size: 36px;
    font-weight: bold;
    width: 160px;
    margin-right: 450px;
    text-decoration: none;
    color: black;
}

.nav {
    height: 22px;
}

.nav-link:hover {
    color: chocolate;
}

.logo {
    height: auto;
    margin-left: 350px;
    font-size: 36px;
    font-weight: bold;
    width: 160px;
    margin-right: 450px;
}

.section1 {
    
    background-repeat: no-repeat;
    width: 1920px;
    height: 700px;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/Футбол/Футбол\ головна.jpg);
    background-size: cover;
}

.section-basketball {
    
    background-repeat: no-repeat;
    width: 1920px;
    height: 700px;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img//Баскетбол/Баскет.jpg);
    background-size: cover;
}

.section-volleyball {
    
    background-repeat: no-repeat;
    width: 1920px;
    height: 700px;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img//Волейбол/Вол.jpg);
    background-size: cover;
}

.title {
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 56px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 320px;
}

.conteiner1 {
    width: 1220px;
    margin-left: 350px;
    margin-right: 350px;
}

.section2 {
    width: 1920px;
    height: 440px;
    background-color: #F9F9F9;  
}

.title2 {
    padding-top: 100px;
}

.title3 {
    margin-top: 8px;
    font-size: 32px;
}

.conteiner2 {
    width: 1220px;
    height: 134px;
    margin-top: 60px;
    display: flex;
}

.img {
    margin-top: 17px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.img1 {
    margin-top: 17px;
    width: 100px;
    height: 100px;
    margin-right: 40px;
    border-radius: 50%;
}

.rah {
    width: 180px;
}

.title4 {
    text-align: center;
}

.title5 {
    height: 110px;
    font-size: 56px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center; 
}

.title5-basketball {
    height: 110px;
    font-size: 46px;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center; 
}

.section3 {
    width: 1920px;
    height: 867px;
    padding-top: 100px;
}

.conteiner3 {
    width: 1220px;
    height: 667px;
    margin-right: 350px;
    margin-left: 350px;
}

.conteiner4 {
    display: flex;
}

.gra {
    width: 340px;
    height: 470px;
    margin-right: 100px;
    margin-top: 60px;
}

.conteiner5 {
    display: flex;
  
}

.title6 {
    margin-top: 27px;
    margin-right: 137px;
    font-size: 22px;
    font-weight: bold;
}

.title7 {
    margin-top: 27px;
    margin-right: 170px;
    font-size: 22px;
    font-weight: bold;
}

.title8 {
    margin-top: 27px;
    font-size: 22px;
    font-weight: bold;
    margin-right: 160px;
}

.number {
    font-size: 60px;
    font-weight: bold;
    margin-right: 100px;
}

.title6-basketball {
    margin-top: 27px;
    margin-right: 174px;
    font-size: 22px;
    font-weight: bold;
}

.title7-basketball {
    margin-top: 27px;
    margin-right: 132px;
    font-size: 22px;
    font-weight: bold;
}

.title8-basketball {
    margin-top: 27px;
    font-size: 22px;
    font-weight: bold;
    margin-right: 139px;
}

.number-basketball {
    font-size: 60px;
    font-weight: bold;
    margin-right: 100px ;
}



.number1 {
    font-size: 60px;
    font-weight: bold;
}

.section4 {
    height: 480px;
    display: flex;
}

.conteiner6 {
    height: 480px;
    width: 960px;
    background-color: #1E1A1A;
}

.text1 {
    width: 580px;
    height: 270px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: left;
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 110px;
}

.img2 {
    height: 500px;
    width: 500px;
    margin-right: 60px;
    margin-top: 60px;
}

.img3 {
    width: 600px;
    height: 490px;
}

.img4 {
    width: 690px;
    height: 600px;
    margin-right: 60px;
    margin-left: 250px;
    margin-bottom: 30px;
    margin-top: 60px;
}

.img5 {
    height: 500px;
    width: 500px;
    margin-bottom: 130px;
}

.conteiner7 {
    width: 1220px;
    margin-left: 350px;
    margin-right: 350px;
    
}

.section5 {
    width: 1920px;
    height: 1000px;
}

.footer {
    width: 1920px;
    height: 177px;
    background-color: black;
    display: flex;
}

.title9 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-top: 30px;
    font-weight: bold;
}

.conteiner9 {
    margin-left: 80px;
}

.nav-footer {
    height: 22px;
    margin-top: 15px;
}

.nav-link-footer {
    text-decoration: none;
    height: 22px;
    margin-right: 58px;
    font-weight: normal;
    font-size: 20px;
    color: #868686;
}

.nav-link-footer:hover {
    color: chocolate;
}

.conteiner10 {
    margin-left: 560px;
}





.slider {
    width: 1220px;
    height: 600px;
    overflow: hidden;
    border: 10px solid white;
}

.middle {
    transform: translate(-10px, 60px);
    justify-content: center;
}

.navigation {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: 0.7;
    border-radius: 10px;
    transition: all .4s ease;
}

.bar:hover {
    opacity: 1;
    transform: scale(1.1);   
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all .6s ease;
}

.slide img {
    width: 1220px;
    height: 700px;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}

#r5:checked ~ .s1 {
    margin-left: -100%;
}

#r6:checked ~ .s1 {
    margin-left: -125%;
}